* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    color: #4F5665;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    padding: 20px 0;
    margin-top: 60px;
    margin-bottom: 40px;
}

.header_in {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.nav {
    display: none;
    background: white;
    padding: 0 30px;
    z-index: 1;
    position: absolute;
    top: 83px;
    right: 0;
}

.toggle {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: flex-end;
}

.line {
    border: 2px solid red;
}

.toggle:focus~.nav {
    display: block;
}

.nav_item {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    display: block;
    margin-bottom: 50px;
}

.nav_item:last-child {
    margin-right: 0;
}

.btn {
    border-radius: 50px;
    padding: 13px 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    margin-bottom: 50px;
    width: 150px;
    background: white;
}

.btn-red {
    color: black;
    border: 1px solid transparent;
    font-weight: bold;
}

.btn-red:hover {
    color: #F53855;
    border: 1px solid #F53855;
    transition: .3s;
}

.btn-wide {
    font-weight: bold;
    width: 250px;
    background: #F53838;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    box-shadow: 0 30px 55px 0 rgba(245, 56, 56, 0.35);
}

.content_title {
    font-weight: 500;
    color: #0B132A;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
}

.content_title-promo {
    font-size: 30px;
    line-height: 35px;
}

.content_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.promo {
    background: url(../design/promo.png) 100% 0 no-repeat;
    background-size: 100% auto;
    padding-top: 20px;
    margin-bottom: 30px;
}

.features {
    background: url(../design/features.png) 0 0 no-repeat;
    background-size: 100% auto;
    padding-top: 20px;
    margin-bottom: 50px;
}

.bold {
    font-weight: bold;
}

.list {
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    list-style: none;
}

.type {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}

.type::before {
    content: "";
    display: inline-block;
    background: url(../design/marker.svg) center;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 0;
}

.text_block-promo {
    padding-top: 60%;
}

.text_block-features {
    padding-top: 80%;
}

.card_block {
    margin-bottom: 50px;
}

.card {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 20px;
}

.card_inner-free {
    padding-top: 200px;
    background: url(../design/plan_free.png) no-repeat;
}

.card_inner-standart {
    padding-top: 200px;
    background: url(../design/plan_standard.png) no-repeat;
}

.card_inner-premium {
    padding-top: 200px;
    background: url(../design/plan_premium.png) no-repeat;
}

.price_text {
    margin-bottom: 20px;
}

.btn-price {
    border: 2px solid transparent;
}

.card:hover .btn-price {
    border: 2px solid #F53838;
    transition: .3s;
}

.btn-price:hover {
    background: #F53838;
    color: white;
}

.cost {
    margin-top: auto;
    text-align: center;
}

.img {
    flex-basis: 190px;
    height: 60px;
    display: block;
}

.map_img {
    margin-top: 100px;
    width: 100%;
    display: block;
}

.brends {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 307px;
}

.position {
    margin-top: 60px;
    position: relative;
}

.subscribe {
    padding: 58px 70px;
    bottom: -140px;
    position: absolute;
    background: white;
    left: 0;
    right: 0;
}

.footer {
    background: #F8F8F8;
    padding-top: 150px;
}

.column {
    display: flex;
    flex-direction: column;
    padding-right: 80px;
}

.footer_block {
    padding: 30px;
}

.footer_block .content_text {
    margin-bottom: 20px;
}

.footer_block .plan_title {
    margin-bottom: 20px;
}

.icon {
    display: inline-block;
    margin-right: 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.icon-fb {
    background: url(../design/fb.png) -17px -5px no-repeat;
}

.icon-twitter {
    background: url(../design/twitter.png) -17px -5px no-repeat;
}

.icon-instagram {
    background: url(../design/instagram.png) -17px -5px no-repeat;
}

.content_text-copy {
    margin-top: 30px;
    color: #AFB5C0;
}

.content_text-person {
    font-size: 20px;
}

.person {
    display: flex;
    background: url(../design/user.png) no-repeat;
    width: 55px;
    height: 55px;
}

.person-size {
    margin-right: 150px;
    margin-bottom: 50px;
}

.geo {
    display: flex;
    background: url(../design/location.png) no-repeat;
    width: 55px;
    height: 55px;
}

.server {
    display: flex;
    background: url(../design/server.png) no-repeat;
    width: 55px;
    height: 55px;
}

.person_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 70px;
}

.statistic .price_text {
    margin-bottom: 0;
    font-weight: bold;
}

.statistic {
    display: flex;
    justify-content: space-between;
    padding: 60px 90px;
    flex-wrap: wrap;
}

.brick {
    display: none;
}

@media screen and (min-width: 650px) {
    .promo_title {
        font-weight: 500;
        font-size: 50px;
        line-height: 70px;
        color: #0B132A;
    }

    .content_title-plan,
    .content_text-plan {
        text-align: center;
    }

    .content_title {
        font-size: 35px;
        line-height: 50px;
        max-width: 383px;
    }

    .content_text {
        max-width: 555px;
    }

    .content_text-narrow {
        max-width: 480px;
    }

    .card_block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }

    .card {
        padding: 30px;
    }

    .plan,
    .map {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .footer_wrap {
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 100px;
        margin-bottom: 20px;
    }

    .footer_block {
        flex-basis: 50%;
        padding: 15px 10px 15px 0;
    }

    .footer_block:first-child {
        flex-basis: 35%;
        margin-right: auto;
    }

    .subscribe {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .brends {
        margin-bottom: 220px;
    }

    .brick {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .text_block-features {
        padding-left: 55%;
        padding-top: 70px;
    }

    .features {
        padding-bottom: 30px;
        background-size: 50%;
    }

    .promo {
        margin-bottom: 50px;
        padding-bottom: 30px;
        background-size: 50%;
    }

    .list {
        margin-top: 25px;
        font-size: 14px;
    }

    .text_block-promo {
        width: 47%;
        padding-top: 70px;
    }

    .btn-wide {
        margin-top: 40px;
    }

    .footer_block:first-child {
        flex-basis: 30%;
        margin-right: auto;
    }

    .footer_block {
        flex-basis: 13%;
    }
}

@media screen and (min-width: 1100px) {
    .toggle {
        display: none;
    }

    .nav {
        position: static;
        display: flex;
        align-items: center;
        padding: 0;
    }

    .nav_item {
        position: relative;
        margin-bottom: 0;
        padding: 10px;
        margin-right: 40px;
    }

    .btn {
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 0;
        padding: 14px 10px;
    }

    .nav_item:hover:after {
        content: "";
        position: absolute;
        display: block;
        width: 30px;
        height: 3px;
        background: linear-gradient(229.9deg, rgb(201, 132, 130) 1.55%, rgb(182, 46, 46) 95.8%);
        left: 20%;
        border-radius: 3px;
    }
}